<%- include('partials/header'); -%>

  <ul class="candidates">
    <li class="candidate">
      <img src="/images.png" alt=" icon">
      <h4>candidate 1</h4>
      <p>Qualities</p>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
        a type specimen book</p>
      <button>vote</button>
    </li>
    <li class="candidate">
      <img src="/images.png" alt=" icon">
      <h4>candidate 2</h4>
      <p>Qualities</p>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
        a type specimen book</p>
      <button>vote</button>
    </li>
    <li class="candidate">
      <img src="/images.png" alt=" icon">
      <h4>candidate 3</h4>
      <p>Qualities</p>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
        a type specimen book</p>
      <button>vote</button>
    </li>



  </ul>

  <%- include('partials/footer'); -%>