<%- include('partials/header'); -%>

  <header>
    <div class="election">
      <img src="/My project.png" alt="">
    </div>
    <div class="headings">
      <h2>Electorist</h2>
      <h3>By Students For Students</h3>
      <a href="/candidates" class="btn">View eligible candidates</a>
    </div>
  </header>


  <%- include('partials/footer'); -%>